*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
/* social media styling */
#social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;

}
.icon-left{
    display: flex;
    flex-direction: row;
}
.icon-right{
    display: flex;
    float: right;
}
#social-media a i{
    color:#fff;
    opacity: 0.9;
    font-size:3.5rem;
    padding: 10px 30px;
}
#social-media a i:hover{
    color: #ff0163;
    transition: 01s ease-in-out;

}
/* end of social media */

.social-icons{
    height: auto;
    width: 100%;
}
.social-icons .row, i{
    font-size: 3rem;
    color: rgba(17, 16, 16, 0.9);
    padding: 0 2rem;
}
.container-fluid .row .icon-left{
  float:left;
}
.container-fluid .row .icon-right{
    float:right;
  }
  .row a{
      cursor: pointer;

  }
  .row i:hover{
      color: #E3456B;
      transition: 03s ease;
  }

  
  /* navbar styling */
    #homenav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 1px;   
      z-index: 3;
      width: 100%;
      margin-top: 0;
          
  }
  #homenav .navbar{
      display: flex;
      background-color:rgb(146, 137, 137);
      width: 100%;
      height: 5.5rem;
      position: sticky;
      top: 20px;
      
  }
  #homenav .navbar .brand{
      float: left;
      padding-top: -3px;
  }
  #homenav .navbar ul{
      display: flex;
  }
  #homenav .navbar ul li{
      display: flex;
      padding: 0px 20px;
      margin-left: .5rem;
      font-family: 'Smythe', cursive !important;
  }
  #homenav  .navbar ul li a{
    color: #fff;
    font-size: 1.6rem;
  }
  #homenav a{
      text-decoration: none;
  }
  #homenav .navbar ul li a:hover{
      cursor: pointer;
      color: #ff0163;
      transition: 03s ease;
  }
  


/* image and paragraph  section */
#image-home{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0,0,0.8);
    height: 900px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Smythe', cursive;
}
#image-home::before{
    content: '';
    position: absolute;
    background-image: url("assets/joekumsy1.jpg");
    background-repeat: no-repeat;
    background-size:49rem;
    background-position-y: top;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 3;
}
#image-home .main h1 span{
    color: #ff0163;
}
.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 40%;
    right: 10%;
}
.heading{
    font-family: 'Smythe', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 40px 0px;

}
.btn:hover{
    cursor: pointer;
    background: grey;
    border-color: bisque;
    transition: 02s;
    color: #fff;
    box-shadow: 0 0 25px, 0 0 30px, 0 0 40px;
}
.card{
    width:31.5%;
    margin:1rem;
    background-color: snow;

}
#about{

    background-image: url("assets/clearmable.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about a{
text-decoration: none;
margin-right: 2rem;

}
#about a:hover{
cursor: pointer;
color: #ff0163 !important;
}
.text-about{
    font-size: 4rem;
}
.card-img-top{
    width: 400px;
    height: 400px;
    margin: auto;

}
.card i{
    font-size: 10rem;
    margin:auto;
    
}.university p span{
    color: darkseagreen;
    font-size:1.5rem;
    font-weight: 500;
}
.university p{
    font-size: 20px;
}


/* Projects styling */
#slider{
    overflow: hidden;
    width: 70%;
    margin:auto;
    
}
#slider figure{
    position: relative;
    width:500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}
/* sliding effects using keyframe */
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
 .projects-sample a{
     text-decoration: none;
     color: black;
 }


 /* skill styling */
 #skills{
     height: 70%;
     width: 100%;
     background-color: rgb(190, 184, 184);
 }
 .container-shape{
     margin: auto;
     position: relative;
     width: 500px;
     height: 500px;
     background-color: transparent;
     border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
 }
 .layers-shape{
     position: absolute;
     width: 100%;
     height: 100%;
     transform-origin:0px 250px;
     top: 0rem;
     left: 0;
     overflow: hidden;
 }
 .layers-shape::before{
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: transparent;
     transform-origin: 0 250px;
     top: 0rem;
     left: 0;
 }
 .layers-shape:nth-child(1){
     background-color: green;
     transform: translateX(250px) rotate(0deg);
 }
 /* next layer */
 .layers-shape:nth-child(1)::before{
     transform: rotate(100deg);
 }
 .layers-shape:nth-child(2){
    background-color: hotpink;
    transform: translateX(250px) rotate(100deg);
}
.layers-shape:nth-child(2)::before{
    transform: rotate(160deg);
}
.layers-shape:nth-child(3){
    background-color: darkcyan;
    transform: translateX(250px) rotate(160deg);
}
.layers-shape:nth-child(3)::before{
    transform: rotate(180deg);
}
.layers-shape:nth-child(4){
    background-color: darkcyan;
    transform: translateX(250px) rotate(180deg);
}
.layers-shape:nth-child(4)::before{
    transform: rotate(20deg);
}
.Bootstrap5{
    background-color: hotpink;
}
.CSS{
    background-color: green;
}
.html{
    background-color: darkcyan;
}

/* contact section */
    #Contact{
        height: 300px;
        width: 100%;
        background-image: url("assets/clearmable.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
.cont{
    height: 250px;
    font-size: 30px;
    margin-top: 5rem;
}



    .footer{
        width: 100%;
        height: 5rem;
        background-color: #444;
        opacity: 0.9;
    }
    .para{
        font-size:2.5rem;
        margin-top: 2rem;
    }

    /* responsiveness at media querry */
    @media screen and (max-width:540px){
        .class-right{
            display: flex;
        }
        .navbar{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        #homenav .navbar{
            height: auto;
        }
        #homenav .navbar .brand {
            margin: auto;
        }
        #homenav .navbar ul{
            display: flex;
            padding-left: 0px;
        }
        #homenav .navbar ul li{
            margin-left: 0px;
            display: flex;
            padding: 10px;
        }
        .resp-card{
            width: 100%;
        }
        .card{
            margin: 0px;
        }
        .row{
            display: flex;
            margin-left: 0rem;
        }
        .row-education{
            width: 100%;
        }
        .col-industry{
            width: 100%;
        }
        .col-3{
            width: 50%;
            font-size: 20px;
        }
        .percent{
            margin-left: 10rem;
        }
        .cont{
            margin-top:2rem;
            font-size: 1.5rem;
        }
        .para{
            font-size: 1rem;
        }
        #social-media a i{
        font-size: 3rem;
        padding: 20px;
        }
    }